body {
    font-family: Arial, sans-serif;
    background-color: #e42121; /* color de respaldo si la imagen no carga */
    background-image: image-set("manos.png"); /* cambia esto por tu imagen */
    background-size: cover; /* ajusta la imagen para cubrir todo el fondo */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

form label {
    display: block;
    margin-top: 15px;
    color: #555;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #B50D1C;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #B50D1C;
}

